# Non Graded Challenge 11

> Assignment Instructions
*   Cari Measure of Central Tendency dari data tersebut.
*   Cari Measure of Variance dari data tersebut.

In [9]:
#import library

import pandas as pd 
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (1.5.12)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.25.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle) (8.0.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (4.0.0)

# Data Loading

In [3]:
!mkdir ~/.kaggle

!cp /content/drive/MyDrive/kaggle.json ~/.kaggle

!ls ~/.kaggle

kaggle.json

In [4]:
!kaggle datasets download -d hendratno/covid19-indonesia

Downloading covid19-indonesia.zip to /content
  0% 0.00/1.22M [00:00<?, ?B/s]
100% 1.22M/1.22M [00:00<00:00, 119MB/s]

In [5]:
!unzip -q covid19-indonesia.zip -d dataset

In [6]:
df = pd.read_csv('/content/covid19-indonesia.zip')

In [7]:
df

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,75,...,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,192.31%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,75,...,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,182.93%,1.00,1.00
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,1,0,1,...,0.511648,0.16,0.16,0.0,0.00,0.00,0.00%,100.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,75,...,-6.204699,0.18,3.96,0.0,1.84,0.18,46.51%,174.42%,1.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31817,9/15/2022,ID-SA,Sulawesi Utara,37,0,0,37,52770,1213,50997,...,1.259638,14.01,19974.38,0.0,459.14,45.91,2.30%,96.64%,2.85,1.00
31818,9/15/2022,ID-SB,Sumatera Barat,13,0,3,10,104640,2371,102066,...,-0.850253,2.36,18959.11,0.0,429.59,42.96,2.27%,97.54%,6.50,1.00
31819,9/15/2022,ID-SS,Sumatera Selatan,16,0,1,15,82198,3376,78510,...,-3.216212,1.95,10002.74,0.0,410.83,41.08,4.11%,95.51%,3.20,1.00
31820,9/15/2022,ID-SU,Sumatera Utara,50,0,5,45,158866,3288,154924,...,2.191894,3.36,10680.15,0.0,221.04,22.10,2.07%,97.52%,1.92,1.00
31821,9/16/2022,IDN,Indonesia,2358,27,2997,-666,6405044,157876,6218708,...,-0.789275,8.89,24153.07,0.1,595.34,59.53,2.46%,97.09%,0.89,1.29

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31822 entries, 0 to 31821
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         31822 non-null  object
 1   Location ISO Code            31822 non-null  object
 2   Location                     31822 non-null  object
 3   New Cases                    31822 non-null  int64
 4   New Deaths                   31822 non-null  int64
 5   New Recovered                31822 non-null  int64
 6   New Active Cases             31822 non-null  int64
 7   Total Cases                  31822 non-null  int64
 8   Total Deaths                 31822 non-null  int64
 9   Total Recovered              31822 non-null  int64
 10  Total Active Cases           31822 non-null  int64
 11  Location Level               31822 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     30893 non-null  object
 14  Country                      31822 non-null  object
 15  Continent                    31822 non-null  object
 16  Island                       30893 non-null  object
 17  Time Zone                    30893 non-null  object
 18  Special Status               4558 non-null   object
 19  Total Regencies              31822 non-null  int64
 20  Total Cities                 30921 non-null  float64
 21  Total Districts              31822 non-null  int64
 22  Total Urban Villages         30918 non-null  float64
 23  Total Rural Villages         30893 non-null  float64
 24  Area (km2)                   31822 non-null  int64
 25  Population                   31822 non-null  int64
 26  Population Density           31822 non-null  float64
 27  Longitude                    31822 non-null  float64
 28  Latitude                     31822 non-null  float64
 29  New Cases per Million        31822 non-null  float64
 30  Total Cases per Million      31822 non-null  float64
 31  New Deaths per Million       31822 non-null  float64
 32  Total Deaths per Million     31822 non-null  float64
 33  Total Deaths per 100rb       31822 non-null  float64
 34  Case Fatality Rate           31822 non-null  object
 35  Case Recovered Rate          31822 non-null  object
 36  Growth Factor of New Cases   29883 non-null  float64
 37  Growth Factor of New Deaths  28375 non-null  float64
dtypes: float64(14), int64(12), object(12)
memory usage: 9.2+ MB

In [11]:
obj_cols= list(df.select_dtypes('object'))
num_cols= list(df.select_dtypes('number'))
print(obj_cols)
print(num_cols)

['Date', 'Location ISO Code', 'Location', 'Location Level', 'Province', 'Country', 'Continent', 'Island', 'Time Zone', 'Special Status', 'Case Fatality Rate', 'Case Recovered Rate']
['New Cases', 'New Deaths', 'New Recovered', 'New Active Cases', 'Total Cases', 'Total Deaths', 'Total Recovered', 'Total Active Cases', 'City or Regency', 'Total Regencies', 'Total Cities', 'Total Districts', 'Total Urban Villages', 'Total Rural Villages', 'Area (km2)', 'Population', 'Population Density', 'Longitude', 'Latitude', 'New Cases per Million', 'Total Cases per Million', 'New Deaths per Million', 'Total Deaths per Million', 'Total Deaths per 100rb', 'Growth Factor of New Cases', 'Growth Factor of New Deaths']

In [12]:
df[num_cols].describe()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,City or Regency,Total Regencies,...,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Growth Factor of New Cases,Growth Factor of New Deaths
count,31822.000000,31822.000000,31822.000000,31822.000000,3.182200e+04,31822.000000,3.182200e+04,31822.000000,0.0,31822.000000,...,31822.000000,31822.000000,31822.000000,31822.000000,31822.000000,31822.000000,31822.000000,31822.000000,29883.000000,28375.000000
mean,402.311388,9.920652,390.398498,1.992238,1.594500e+05,4564.753221,1.492615e+05,5623.782415,NaN,24.027277,...,738.894928,113.700478,-2.725681,28.133292,11485.038800,0.640308,289.633640,28.963329,1.326795,1.033834
std,2320.629838,64.139080,2199.878802,1219.513355,6.264435e+05,17693.731369,5.958536e+05,28537.412305,NaN,68.359734,...,2729.431626,9.862068,3.608065,74.309710,16477.385479,1.933016,363.428724,36.342881,2.679379,1.351755
min,0.000000,0.000000,0.000000,-29938.000000,1.000000e+00,0.000000,0.000000e+00,-2343.000000,NaN,1.000000,...,8.590000,96.910522,-8.682205,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,0.000000,2.000000,-12.000000,5.223250e+03,128.000000,3.913500e+03,80.000000,NaN,7.000000,...,47.790000,106.109004,-6.204699,0.830000,1291.367500,0.000000,38.862500,3.890000,0.650000,0.750000
50%,27.000000,0.000000,20.000000,0.000000,2.359650e+04,565.500000,2.102750e+04,557.000000,NaN,11.000000,...,103.840000,113.417654,-2.461746,5.710000,6804.285000,0.000000,158.415000,15.840000,1.000000,1.000000
75%,130.000000,3.000000,123.000000,19.000000,6.992775e+04,2189.000000,6.414200e+04,2279.000000,NaN,18.000000,...,262.700000,121.201093,0.212037,22.290000,14557.360000,0.540000,389.910000,38.990000,1.310000,1.000000
max,64718.000000,2069.000000,61361.000000,39165.000000,6.405044e+06,157876.000000,6.218708e+06,586113.000000,NaN,416.000000,...,16334.310000,138.696030,4.225615,1459.040000,130231.620000,63.800000,1632.600000,163.260000,175.000000,134.500000

In [14]:
df[obj_cols].describe()

,Date,Location ISO Code,Location,Location Level,Province,Country,Continent,Island,Time Zone,Special Status,Case Fatality Rate,Case Recovered Rate
count,31822,31822,31822,31822,30893,31822,31822,30893,30893,4558,31822,31822
unique,930,35,35,2,34,1,1,7,3,3,1328,6170
top,6/9/2021,ID-JK,DKI Jakarta,Province,DKI Jakarta,Indonesia,Asia,Sumatera,UTC+07:00,Daerah Khusus,0.00%,0.00%
freq,35,929,929,30893,929,31822,31822,9080,16413,2715,393,205

In [27]:
# Mencari mean median and mode

data_mean = df[num_cols].mean().rename('mean')
data_median = df[num_cols].median().rename('median')
data_mode = df[num_cols + obj_cols].mode().iloc[0].rename('mode')

central_tendency = pd.concat([data_mean, data_median, data_mode], axis=1)
central_tendency

                                     mean        median           mode
New Cases                    4.023114e+02  2.700000e+01            0.0
New Deaths                   9.920652e+00  0.000000e+00            0.0
New Recovered                3.903985e+02  2.000000e+01            0.0
New Active Cases             1.992238e+00  0.000000e+00            0.0
Total Cases                  1.594500e+05  2.359650e+04            1.0
Total Deaths                 4.564753e+03  5.655000e+02            1.0
Total Recovered              1.492615e+05  2.102750e+04            1.0
Total Active Cases           5.623782e+03  5.570000e+02            4.0
City or Regency                       NaN           NaN            NaN
Total Regencies              2.402728e+01  1.100000e+01           12.0
Total Cities                 5.835840e+00  2.000000e+00            1.0
Total Districts              4.179523e+02  1.690000e+02           44.0
Total Urban Villages         5.055139e+02  1.750000e+02           35.0
Total Rural Villages         4.462493e+03  1.591000e+03        74953.0
Area (km2)                   1.106532e+05  4.201300e+04          664.0
Population                   1.536766e+07  4.216171e+06     10846145.0
Population Density           7.388949e+02  1.038400e+02         138.34
Longitude                    1.137005e+02  1.134177e+02     106.836118
Latitude                    -2.725681e+00 -2.461746e+00      -6.204699
New Cases per Million        2.813329e+01  5.710000e+00            0.0
Total Cases per Million      1.148504e+04  6.804285e+03       11775.71
New Deaths per Million       6.403083e-01  0.000000e+00            0.0
Total Deaths per Million     2.896336e+02  1.584150e+02            0.0
Total Deaths per 100rb       2.896333e+01  1.584000e+01            0.0
Growth Factor of New Cases   1.326795e+00  1.000000e+00            1.0
Growth Factor of New Deaths  1.033834e+00  1.000000e+00            1.0
Date                                  NaN           NaN       1/1/2021
Location ISO Code                     NaN           NaN          ID-JK
Location                              NaN           NaN    DKI Jakarta
Location Level                        NaN           NaN       Province
Province                              NaN           NaN    DKI Jakarta
Country                               NaN           NaN      Indonesia
Continent                             NaN           NaN           Asia
Island                                NaN           NaN       Sumatera
Time Zone                             NaN           NaN      UTC+07:00
Special Status                        NaN           NaN  Daerah Khusus
Case Fatality Rate                    NaN           NaN          0.00%
Case Recovered Rate                   NaN           NaN          0.00%

In [29]:

data_var = df[num_cols].var().rename('variance')
data_std = df[num_cols].std().rename('standart_deviaton')

var_std = pd.concat([data_var, data_std], axis=1)
var_std

                                 variance  standart_deviaton
New Cases                    5.385323e+06       2.320630e+03
New Deaths                   4.113822e+03       6.413908e+01
New Recovered                4.839467e+06       2.199879e+03
New Active Cases             1.487213e+06       1.219513e+03
Total Cases                  3.924314e+11       6.264435e+05
Total Deaths                 3.130681e+08       1.769373e+04
Total Recovered              3.550415e+11       5.958536e+05
Total Active Cases           8.143839e+08       2.853741e+04
City or Regency                       NaN                NaN
Total Regencies              4.673053e+03       6.835973e+01
Total Cities                 2.686361e+02       1.639012e+01
Total Districts              1.423237e+06       1.192995e+03
Total Urban Villages         2.022286e+06       1.422071e+03
Total Rural Villages         1.583253e+08       1.258274e+04
Area (km2)                   1.016248e+11       3.187865e+05
Population                   1.990689e+15       4.461714e+07
Population Density           7.449797e+06       2.729432e+03
Longitude                    9.726039e+01       9.862068e+00
Latitude                     1.301813e+01       3.608065e+00
New Cases per Million        5.521933e+03       7.430971e+01
Total Cases per Million      2.715042e+08       1.647739e+04
New Deaths per Million       3.736552e+00       1.933016e+00
Total Deaths per Million     1.320804e+05       3.634287e+02
Total Deaths per 100rb       1.320805e+03       3.634288e+01
Growth Factor of New Cases   7.179074e+00       2.679379e+00
Growth Factor of New Deaths  1.827242e+00       1.351755e+00